<?xml version="1.0"?>
<!-- <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="adminhtml" frontName="admin">
            <module name="Yotpo_Yotpo" />
        </route>
    </router>
</config> -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="yotpo" frontName="yotpo">
            <module name="Yotpo_Yotpo" />
        </route>
    </router>
</config>