<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
        <default>
            <yotpo>
                <settings>
                    <widget_enabled>1</widget_enabled>
                    <bottomline_enabled>1</bottomline_enabled>
                </settings>
            </yotpo>
        </default>
    </config>