<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="yotpo_sync" xsi:type="object">Yotpo\Yotpo\Console\Command\SyncCommand</item>
                <item name="yotpo_reset" xsi:type="object">Yotpo\Yotpo\Console\Command\ResetCommand</item>
                <item name="yotpo_update_metadata" xsi:type="object">Yotpo\Yotpo\Console\Command\UpdateMetadataCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="yotpo_yotpo_catalog_block_product_listproduct_plugin" type="Yotpo\Yotpo\Plugin\Catalog\Block\Product\ListProduct" />
    </type>
    <type name="Magento\Review\Block\Product\ReviewRenderer">
        <plugin name="yotpo_yotpo_review_block_product_reviewrenderer_plugin" type="Yotpo\Yotpo\Plugin\Review\Block\Product\ReviewRenderer" />
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="yotpo_yotpo_catalog_block_product_view_plugin" type="Yotpo\Yotpo\Plugin\Catalog\Block\Product\View" />
    </type>
    <virtualType name="OmsTableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="yotpo_sync" xsi:type="string">yotpo_sync</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Yotpo\Yotpo\Model\Logger\YotpoHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Yotpo\Yotpo\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">yotpoLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Yotpo\Yotpo\Model\Logger\YotpoHandler</item>
            </argument>
        </arguments>
    </type>
</config>
