.yotpo-reviews-totals{
    background: #ffffff;

    .yotpo-reviews-totals-list{
        display: block;
        max-width: 60rem;
        columns: 3;

        .yotpo-reviews-totals-item{
            display: inline-block;
            padding: 1.2rem 1rem 1.2rem 0;
            max-width: 20rem;

            .yotpo-reviews-totals-label {
                display: block;
                font-size: 1.3rem;
                font-weight: 700;
            }

            .yotpo-reviews-totals-value {
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
    }
}
