.yotpoBottomLine
{
	width:100%;
}
.yotpo-icon-double-bubble, .yotpo-stars 
{ 
	margin: 0 5px 0 0 !important; 
}
div.yotpo.bottomLine 
{ 
	display: inline-block; margin: 0 10px 1px 0;
}
.thumbnail .yotpo a 
{ 
	display: inline-block; 
}
div.yotpo.QABottomLine 
{ 
	display: inline-block; 
}
.product-info-main .product-reviews-summary
{
	width:100%;
}

.bottomline-position
{ 
	display: inline-block; 
	margin: 0 10px 1px 0;
}
.cms-index-index .product-item-actions{
	margin-top:5px !important;
}
.page-products .product-item-actions{
	margin-top: 0px !important;
}